@import "tailwindcss";

:root {
  --background: #e7e7e3;
  --foreground: #171717;
  --dark-gray: #232321;
  --primary: 228 72% 59%;
  --secondary: 34 100% 59%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --dark-gray: var(--dark-gray);
  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));
}


@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-body);
    color: var(--dark-gray);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    line-height: 1.1;
  }
  h1{
    font-size: clamp(5rem, 2.75rem + 11.25vw, 14rem);
    font-weight: 700;
  }
  h2{
    font-size: clamp(2.5rem, 1.969rem + 2.656vw, 4.625rem);
    font-weight: 600;
  }
  h3{
    font-size: clamp(1.375rem, 1.156rem + 1.094vw, 2.25rem);
    font-weight: 600 ;
  }
  h4{
    font-size: clamp(1.125rem, 1.031rem + 0.469vw, 1.5rem);
    font-weight: 600 ;
  }
}
@layer components{
  .container{
    @apply mx-auto;
  }
 
 
}

