@import "tailwindcss";

:root {
  --background: #e7e7e3;
  --foreground: #171717;
  --dark-gray: #232321;
  --primary: 228 72% 59%;
  --secondary: 34 100% 59%;
}

/* Tailwind v4 Theme Variables */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-gray: var(--dark-gray);
  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));
  --font-heading: var(--font-rubik);
  --font-body: var(--font-open-sans);
}

/* Base Styles */
@layer base {
  body {
    background: var(--background);
    color: var(--dark-gray);
    font-family: var(--font-body);   
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);  
    line-height: 1.19;
  }

  h1 {
    @apply font-bold leading-[1.1849]!;
    font-size: clamp(6.25rem, 4.32rem + 9.648vw, 13.969rem);
  }

  h2 {
    font-size: clamp(2.5rem, 1.969rem + 2.656vw, 4.625rem);
    font-weight: 600;
  }

  h3 {
    font-size: clamp(1.375rem, 1.156rem + 1.094vw, 2.25rem);
    font-weight: 600;
  }

  h4 {
    font-size: clamp(1.125rem, 1.031rem + 0.469vw, 1.5rem);
    font-weight: 600;
  }
}

@layer utilities {
  .font-rubik {
    font-family: var(--font-heading);
  }

  .font-open-sans {
    font-family: var(--font-body);
  }
}
/* Components */
@layer components {
  .container {
    @apply mx-auto max-w-330!;
  }
  .container-left{
    /* @apply ml-auto max-w-345!; */
    @apply ml-auto w-full max-w-[calc(100%-((100vw-1320px)/2))]!;
  }
}